// 1. Your custom variables and variable overwrites.
$global-link-color: #da7d02;

$black-background-color: #1e1931;
$black-background-color-2: #29334f;
$gray-color: #9999a1;
$strong-gray-color: #4a525a;
$second-black-color: #24272b;
$black-color: #000000;

// 2. Import default variables and available mixins.
// @import "./node_modules/uikit/src/scss/variables-theme.scss";
// @import "./node_modules/uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
@mixin hook-card() {
  color: #000;
}

@mixin input-range-thumb {
  &::-webkit-slider-thumb {
    @content();
  }
  &::-moz-range-thumb {
    @content();
  }
  &::-ms-thumb {
    @content();
  }
}

@mixin input-range-track {
  &::-webkit-slider-runnable-track {
    @content;
  }
  &::-moz-range-track {
    @content;
  }
  &::-ms-track {
    @content;
  }
}

// 4. Import UIkit.
// @import "./node_modules/uikit/src/scss/uikit-theme.scss";

// 5. Custom styles here
html,
body {
  // background-color: $black-background-color;
  background: rgb(30, 25, 49);
  background: linear-gradient(
    270deg,
    $black-background-color 15%,
    $black-background-color-2 50%,
    $black-background-color 87%
  );
}

.is-relative {
  position: relative;
}

.is-absolute {
  position: absolute;
}

.link-right {
  position: absolute;
  right: 0;
}

.airplanes-filter,
.admin-airplanes {
  .uk-card {
    max-width: 250px !important;
  }
  .uk-card-media-top {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 140px;
      width: 100%;
      height: 10px;
    }
    &[data-banner="easy"] {
      &::after {
        background: green;
      }
    }

    &[data-banner="intermediate"] {
      &::after {
        background: yellow;
      }
    }

    &[data-banner="advanced"] {
      &::after {
        background: red;
      }
    }
  }
}

.editable-input {
  border: none;
  background: transparent;
  text-align: center;
  text-align-last: center;

  &:hover {
    + span[data-uk-icon] {
      visibility: visible;
    }
  }

  + span[data-uk-icon] {
    position: absolute;
    top: 30px;
    right: 15px;
    visibility: hidden;
  }
}

datalist {
  option {
    position: relative;
    background: white;
    top: 20px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height: 12px;

    &:first-of-type {
      visibility: hidden;
    }
    &:last-of-type {
      border-right: 0;
    }
  }
}

input[type="range"] {
  -webkit-appearance: none;
  width: 99%;
  margin-top: 0;
  height: 9px;

  &:focus {
    outline: none;
  }

  &.range-speed {
    @include input-range-thumb {
      background-color: yellowgreen;
    }
  }
  &.range-glide {
    @include input-range-thumb {
      background-color: blueviolet;
    }
  }
  &.range-accuracy {
    @include input-range-thumb {
      background-color: orangered;
    }
  }

  @include input-range-track {
    width: 100%;
    height: 1.2em;
    cursor: pointer;
    border: 1px solid $black-background-color-2;
    overflow: hidden;
  }

  @include input-range-thumb {
    height: 12px;
    width: 45px;
    cursor: pointer;
    -webkit-appearance: none;
    border-bottom: 1px solid $black-background-color-2;
    box-shadow: 0 0 0 red, -40px 0 0 red, -85px 0 0 red, -130px 0 0 red,
      -175px 0 0 red, -220px 0 0 red, -265px 0 0 red, -310px 0 0 red,
      -350px 0 0 red, -390px 0 0 red, -409px 0 0 red;
    z-index: 2;
  }

  &::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  &::-ms-fill-upper {
    background: #3071a9;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
}

// Loading
.overlay {
  position: absolute;
  background: rgba(255, 255, 255, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;

  .loading {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;

    div {
      position: absolute;
      top: 33px;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      background: $black-background-color-2;
      animation-timing-function: cubic-bezier(0, 1, 1, 0);

      &:nth-child(1) {
        left: 8px;
        animation: loading1 0.6s infinite;
      }
      &:nth-child(2) {
        left: 8px;
        animation: loading2 0.6s infinite;
      }
      &:nth-child(3) {
        left: 32px;
        animation: loading2 0.6s infinite;
      }
      &:nth-child(4) {
        left: 56px;
        animation: loading3 0.6s infinite;
      }
    }
  }
}
@keyframes loading1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loading3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes loading2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
